html{
    background-color: #ffffff;
}
.dropbtn {
    border-style:solid;
    border-width: 5px;
    border-color: rgb(68, 68, 68);
    margin-left: 20px;
    border-radius: 0.3cm;
    background: rgb(2, 2, 2);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    
    cursor: pointer;
  }       
  .dropbtn:hover, .dropbtn:focus-visible {
    background-color:#494949b4;
  }
  
  .dropdown {
    
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    
    border-radius: 0.12cm;
    display: none;
    position: absolute;
    background: rgb(0, 0, 0);
    margin-left: 5px;
    min-width: 200px;
    overflow: auto;
    box-shadow: 1px 16x 16px 1px rgba(255, 255, 255, 0.2);

    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(248, 248, 248);
    padding: 12px 16px;
    
    text-decoration: none;
    display: block;
  }
  
 .dropdown a:hover {
    background-color:#00000004
}
  
  .show {display: block;}
  .header{
     overflow: hidden;
    background-color: #000000;
    margin: 9px;
    border: #000000;
    border-radius: 9px;
    
  }
  .bestm{
    
    color: rgb(255, 255, 255);
    margin-left: 1.5cm;
    width: fit-content;
    height: 46px;
    border-style:solid;
    border-top: #000000;
    border-bottom: #000000;
    border-left-color:whitesmoke ;
    border-right-color:whitesmoke ;
    border-left-width:5px ;
    border-right-width: 5px;
    background-color: #000000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  .bestm:hover, .bestm:focus-visible {
    background-color:#494949b4;}

    .searchbar{
        border-radius: 17px;
        width: 5cm;
        height: 1cm;
        float:right;
        background-color: #faecec;
    }
    .searchbarb{
        border-radius: 130px;
        float: right;
        height: 1.2cm;
        background: #ccc;
    }
    .gjuha{
        float:right;
    }
    html { background-color: #000; } 
body {
    overflow-y: auto;
    min-height: 101vh;
    max-width:1550px;
    background-color: rgb(255, 255, 255); 
    margin:0 auto;
}
.iden{
    margin-top: 0.25cm;
    width: fit-content;
    height: fit-content;
    border-radius: 7px;
    background-color: orange;
    margin-left: 2cm;
float:right
}
.iden:hover, .iden:focus-visible {
    background-color:#ff5e00ee;}


    footer {
        position:fixed;
        left:0px;
        bottom:0px;
        height:30px;
        width:100%;
        background:#999;
     }
.Movies{
    box-sizing: content-box;
    width: 1500px;
    height: 400px;


    border-style: solid;
    margin:30px;
}

.text{
    text-align: center;
}
.movieimg{
    float: left;
    width: 250px;
 
}
/* css per star rating po se kam futur akoma
.star-rating{
    color: #bebebe;
    font-size:2em;
}

.my-star::before{
    content:"\002605";
}

.my-star{
    font-style: unset !important;
}

.is-active{
    color:#fb8900;
}

.my-star:not(.is-active):hover{
    color: #fb8900;
} */
